.lead__image-pic {
  max-width: 100%;
  margin-bottom: 8px;
  object-fit: cover;
}

@media screen and (max-width: 1279px) {
  .lead__image-pic {
    height: 580px;
  }
}

@media screen and (max-width: 1023px) {
  .lead__image-pic {
    height: 480px;
  }
}

@media screen and (max-width: 767px) {
  .lead__image-pic {
    height: 200px;
  }
}