.header__lang-item{
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  margin-right: 18px;
}
.header__lang-item:last-child{
  margin-right: 0;
}

@media screen and (max-width: 767px) {
  .header__lang-item{
    font-size: 18px;
    line-height: 20px;
   }
}

