.place {
  max-width: 984px;
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40px;
}

.place:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 1279px) {
  .place {
    max-width: 928px;
  }
}

@media screen and (max-width: 1023px) {
  .place {
    max-width: 720px;
    margin: 0 auto 73px;
    column-gap: 28px;
  }
}

@media screen and (max-width: 767px) {
  .place {
    max-width: 320px;
    margin: 0 auto 48px;
    grid-template-columns: repeat(1, 1fr);
    margin: 0 auto 50px;
  }
}