.place__url-heading {
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #AAAAAA;
  letter-spacing: 2px;
  font-style: normal;
  text-transform: uppercase;
}

