.place__url-heading {
  font-size: 12px;
  line-height: 20.4px;
  color: #AAAAAA;
  letter-spacing: 2px;
  font-style: normal;
}

@media screen and (max-width: 1023px) {
  .place__url-heading {
    line-height: 12px;
  }
}

@media screen and (max-width: 776px) {
  .place__url-heading {
    line-height: 12px;
  }
}